{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %}
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>IMGPET</h1>
                                </div>
                                <p>IMG Petroleum Marketers.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form id="login-form" action="{{path('logincheck')}}" method="post">
                                    {% if error is defined %}
                                        <div class="alert alert-danger">{{error.getMessage()}}</div>
                                    {% endif %}
                                    <div class="form-group">
                                        <input id="login-username" type="text" name="_username" required="" value="{{(last_username is defined)?last_username}}" class="input-material">
                                        <label for="login-username" class="label-material">User Name</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login-password" type="password" name="_password" required="" class="input-material">
                                        <label for="login-password" class="label-material">Password</label>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}" />
                                    <button id="login" class="btn btn-primary">Login</button>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>Design by <a href="http://www.bitssense.com" class="external" style="background-color:#ffffff; padding-left:3px; padding-right: 3px; text-shadow: 0px 0px 0.2px #ffffff;"><b style="color:black; ">Bits</b><b style="color: #1388da;">Sense</b></a> Ltd</p>
        </div>
        <!-- Javascript files-->
        <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('vendor/popper.js/umd/popper.min.js')}}"></script>
        <script src="{{asset('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('vendor/jquery.cookie/jquery.cookie.js')}}"></script>
        <!--<script src="{{asset('vendor/jquery-validation/jquery.validate.min.js')}}"></script>-->
        <!-- Main File-->
        <script src="{{asset('js/front.js')}}"></script>
    </div>
{% endblock body %}